.budgetCategories {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 80%;
  overflow-y: auto;
}

.budgetCategoryContainer {
  display: flex;
  justify-content: center;
  clip-path: polygon(
    0 0,
    92% 0,
    100% 50%,
    100% 100%,
    8% 100%,
    0 50%
  );
  text-align: center;
  background-color: #2a614d;
}

.budgetCategoryContainerWrap {
  margin-top: 1%;
  width: 50%;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5));
}

.budgetCategories::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.budgetCategories::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.budgetCategories::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
