html, body, #root, #App{
  height: 100%;
}

body {
  margin: 0;
  background-color: #282c34;
  @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
  font-family: 'Orbitron';
  font-size: 1em;
  background-image: url('background-small.jpg');
  background-size: cover;
  // background-color: #222222;
}

button {
  font-family: 'Orbitron';
}

input {
  font-family: 'Orbitron';
}
