.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
}

.input {
  color: white;
  background: transparent;
  // border-bottom-left-radius: 8px;
  // border-top-right-radius: 8px;

  clip-path: polygon(
    0 0,
    90% 0,
    100% 50%,
    100% 100%,
    10% 100%,
    0 50%
  );

  text-align: center;
  border: none;
  outline-width: 0;
  background-color: #2a614d;
  height: 100%;
  width: 100%;
}

.inputWrap {
  margin: 1%;
  height: 7%;
  width: 25%;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5));
}

.loginSubmit {
  background-color: #2a614d;
  border: none;
  border-radius: 10px;
  padding: 1%;
  margin-top: 2%;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4)
}

.loginSubmit:hover {
  background-color: #21ab79;
}
